<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd" >

    <bean class="com.examples.Hello" id="hello"/>
    <bean class="com.examples.bakery.subitems.Cheese" id="cheese"/>
    <bean class="com.examples.bakery.subitems.Sugar" id="sugar"/>
    <bean class="com.examples.bakery.Pizza" id="pizza">
        <constructor-arg ref="cheese"/>
        <property name="prices">
            <map>
                <entry key="SMALL" value="200"/>
                <entry key="MEDIUM" value="300"/>
                <entry key="LARGE" value="500"/>
            </map>
        </property>
    </bean>

    <bean class="com.examples.bakery.Bun" id="bun">
        <property name="subItem" ref="sugar"/>
        <property name="item" >
            <bean class="com.examples.bakery.subitems.Plums"/>
        </property>
    </bean>

    <!--<bean class="com.examples.bakery.CheeseCake" id="cheeseCake">-->
        <!--<constructor-arg>-->
            <!--<list>-->
                <!--<ref bean="sugar"/>-->
                <!--<ref bean="cheese"/>-->
            <!--</list>-->
        <!--</constructor-arg>-->
    <!--</bean>-->

    <bean class="com.examples.bakery.CheeseCake" id="cheeseCake">
        <property name="subItems">
            <list>
                <ref bean="sugar"/>
                <ref bean="cheese"/>
            </list>
        </property>
    </bean>
</beans>